.App-header {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.App-title {
  border: 2px solid;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  background: white;
  box-shadow: 5px 5px 8px 5px #888888;
}

.App {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-top: 80px;
}
.Original {
  font-size: 20px;
  border: 2px solid;
  border-radius: 30px;
  padding: 15px;
  margin-left: 26px;
  display: inline-block;
  text-align: center;
}
.Github {
  text-align: center;
  margin-left: 26px;
  display: inline-block;
}
