.App-header {
  font-size: 50px;
  font-weight: bold;
  margin-left: 200px;
  margin-bottom: 15px;
  margin-top: 150px;
}

.App {
  margin: 100px;
  margin-top: 80px;
}

.App-title {
  border: 2px solid;
  border-radius: 50px;
  padding: 10px;
  background: white;
  box-shadow: 5px 5px 8px 5px #888888;
}

.App footer {
  margin-left: 980px;
  margin-bottom: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 1;
  text-align: center;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
.Original {
  font-size: 13px;
  border: 2px solid;
  border-radius: 5px;
  padding: 4px;
}
