.Dictionary {
  max-width: 600px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}
.Search {
  text-align: center;
  margin-top: 30px;
  display: flex center;
}
form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px;
  height: 5em;
  width: 400px;
}
.Dictionary input {
  width: 50%;
  padding: 6px 4px;
  border: 2px solid;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.Hourglass {
  font-size: 25px;
  padding: 20 5 6 px;
  margin: 10px;
}

.Suggest {
  line-height: 50px;
  font-size: 15px;
  text-align: center;
}
.Suggest-words {
  font-size: 16px;
}

footer {
  margin-left: 1000px;
  text-align: center;
}
