.Dictionary {
  max-width: 600px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}
.Search {
  text-align: center;
  margin-top: 30px;
  display: flex center;
  max-width: 400px;
}
form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px;
  height: 5em;
  width: 400px;
}
.Dictionary input {
  width: 50%;
  padding: 6px 4px;
  border: 2px solid;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.search-button {
  max-width: 68px;
  margin-left: 5px;
}

.Suggest {
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}
.Suggest-words {
  font-size: 15px;
  margin-top: -23px;
  margin-bottom: -15px;
}
.Results {
  font-size: 25px;
}
@media (max-width: 600px) {
  .Dictionary {
    margin-left: 50px;
  }
  .Suggest {
    margin-left: 50px;
  }
  .Definitions-below {
    margin-left: 50px;
  }
}
