body {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    101.9deg,
    rgb(197, 120, 234) 1.6%,
    rgb(120, 220, 234) 51.2%,
    rgb(119, 249, 176) 99.8%
  );
  background-position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -60px;
  margin-right: 0px;
  padding: 0;
}
