.example {
  color: #70757a;
  font-style: italic;
  margin-left: 300px;
  text-transform: capitalize;
  font-size: 15px;
}
.definition {
  margin-top: 5px;
  margin-left: 250px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.Meaning h3 {
  text-transform: capitalize;
  font-style: bold;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 250px;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .definition {
    text-align: left;
    margin-left: 40px;
  }
  .Meaning h3 {
    text-align: left;
    margin-left: 150px;
  }
  .example {
    margin-left: 40px;
    text-align: left;
  }
}
