.Phonetic {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.Phonetic-button {
  color: black;
  background-color: white;
  border: 2px solid #808080;
  margin-right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 150ms ease-in-out;
  box-shadow: 3px 3px 8px 3px #888888;
}

.Phonetic-button:hover {
  background-color: #00a6ed;
  border: 1px solid #00a6ed;
  color: #d8ebff;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
