.Photos {
  margin-left: 750px;
  margin-bottom: 30px;
  position: fixed;
  top: 146px;
  right: 160px;
  left: 50px;
}

.Photos img {
  border-radius: 8px;
  max-width: 140px;
  max-height: 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
