.Photos {
  margin-bottom: 30px;
  top: 146px;
  right: 160px;
  left: 50px;
  margin-top: 10px;
  display: inline-block;
}

.Photos img {
  border-radius: 30px;
  max-width: 300px;
  margin-top: 23px;
  margin-left: 26px;
}

@media (max-width: 600px) {
  .Photos img {
    margin-left: 50px;
  }
}
