.Synonyms {
  padding: 0;
  margin-top: 20px;
  text-transform: capitalize;
}

.Synonyms li {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  margin: 0px 0px 10px 0px;
  box-sizing: border-box;
  border: 1.3px dashed black;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
}
